In [2]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/e99a526b2e7ccc6c3b70f53db43a87d2/raw/1605fc74aa778066bf2e6695e24d53cf65f2f447/machine-learning-carros-simulacao.csv"
dados = pd.read_csv(uri).drop(columns=["Unnamed: 0"], axis=1)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano
0   30941.02        1               18  35085.22134
1   40557.96        1               20  12622.05362
2   89627.50        0               12  11440.79806
3   95276.14        0                3  43167.32682
4  117384.68        1                4  12770.11290

In [3]:
x = dados[["preco", "idade_do_modelo", "km_por_ano"]]
y = dados["vendido"]

In [4]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

x = dados[["preco", "idade_do_modelo","km_por_ano"]]
y = dados["vendido"]

SEED = 158020
np.random.seed(SEED)
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 7500 elementos e testaremos com 2500 elementos

In [5]:
from sklearn.dummy import DummyClassifier

dummy_stratified = DummyClassifier(strategy='stratified')
dummy_stratified.fit(treino_x, treino_y)
acuracia = dummy_stratified.score(teste_x, teste_y) * 100

print("A acurácia do dummy stratified foi de %.2f%%" % acuracia)

A acurácia do dummy stratified foi de 50.96%

In [6]:
from sklearn.tree import DecisionTreeClassifier

SEED = 158020
np.random.seed(SEED)
modelo = DecisionTreeClassifier(max_depth=2)
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print ("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 71.92%

In [7]:
from sklearn.model_selection import cross_validate

SEED = 158020
np.random.seed(SEED)
modelo = DecisionTreeClassifier(max_depth=2)
results = cross_validate(modelo, x, y, cv= 3, return_train_score=False)
media = results['test_score'].mean()
desvio_padrao = results['test_score'].std()
# com esses dois valores podemos achar o desvio padrão
print('Accuracy [%.2f, %.2f]' % ((media - 2 * desvio_padrao) * 100, (media + 2 * desvio_padrao) * 100))

Accuracy [74.99, 76.57]

In [14]:
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold

SEED = 158020
np.random.seed(SEED)
# nesse caso o modelo é apenas um exemplo
modelo = DecisionTreeClassifier(max_depth=2)
cv = KFold(n_splits=10, shuffle=True)
# o cv é para escolhermos a quantidade de divisões, alguns artigos recomendam entre 5 e 10
results = cross_validate(modelo, x, y, cv=cv, return_train_score=False)
results

# para visualizarmos melhor os resultados podemos buscar a médias dos resultados de teste
media = results['test_score'].mean()

# ou melhor ainda, buscarmos o desvio padrao
desvio_padrao = results['test_score'].std()

# com esses dois valores podemos achar o desvio padrão
print('Accuracy [%.2f, %.2f]' % ((media - 2 * desvio_padrao) * 100, (media + 2 * desvio_padrao) * 100))

Accuracy [73.58, 77.98]

In [13]:
def imprime_resultados(results):
    media = results['test_score'].mean()
    desvio_padrao = results['test_score'].std()
    print('Accuracy [%.2f, %.2f]' % ((media - 2 * desvio_padrao) * 100, (media + 2 * desvio_padrao) * 100))

In [19]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_validate


SEED = 301
np.random.seed(SEED)
# nesse caso o modelo é apenas um exemplo
modelo = DecisionTreeClassifier(max_depth=2)
cv = StratifiedKFold(n_splits=10, shuffle=True)
# o cv é para escolhermos a quantidade de divisões, alguns artigos recomendam entre 5 e 10
results = cross_validate(modelo, x, y, cv=cv, return_train_score=False)
results

# para visualizarmos melhor os resultados podemos buscar a médias dos resultados de teste
media = results['test_score'].mean()

# ou melhor ainda, buscarmos o desvio padrao
desvio_padrao = results['test_score'].std()

# com esses dois valores podemos achar o desvio padrão
print('Accuracy [%.2f, %.2f]' % ((media - 2 * desvio_padrao) * 100, (media + 2 * desvio_padrao) * 100))

Accuracy [74.42, 77.14]

In [22]:
SEED = 301
np.random.seed(SEED)
dados['modelo_aleatorio'] = dados['idade_do_modelo'] + np.random.randint(-2, 3, size=10000)
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano  modelo_aleatorio
0   30941.02        1               18  35085.22134                16
1   40557.96        1               20  12622.05362                22
2   89627.50        0               12  11440.79806                12
3   95276.14        0                3  43167.32682                 4
4  117384.68        1                4  12770.11290                 3

In [23]:
dados['modelo_aleatorio'].unique()

array([16, 22, 12,  4,  3, 11, 18, 17, 13,  0, 15, 10,  9, 14,  1,  5, 19,
       21,  8,  7, 20,  6,  2, -1], dtype=int64)

In [24]:
abs(dados['modelo_aleatorio'].min())

1

In [27]:
dados['modelo_aleatorio'] = dados['modelo_aleatorio'] + abs(dados['modelo_aleatorio'].min()) + 1

In [28]:
dados.head()

       preco  vendido  idade_do_modelo   km_por_ano  modelo_aleatorio
0   30941.02        1               18  35085.22134                18
1   40557.96        1               20  12622.05362                24
2   89627.50        0               12  11440.79806                14
3   95276.14        0                3  43167.32682                 6
4  117384.68        1                4  12770.11290                 5

In [29]:
dados['modelo_aleatorio'].unique()

array([18, 24, 14,  6,  5, 13, 20, 19, 15,  2, 17, 12, 11, 16,  3,  7, 21,
       23, 10,  9, 22,  8,  4,  1], dtype=int64)

In [30]:
from sklearn.model_selection import GroupKFold
from sklearn.model_selection import cross_validate


SEED = 301
np.random.seed(SEED)
# nesse caso o modelo é apenas um exemplo
modelo = DecisionTreeClassifier(max_depth=2)
cv = GroupKFold(n_splits=10)
# o cv é para escolhermos a quantidade de divisões, alguns artigos recomendam entre 5 e 10
# nesse caso temos que passar para o cross_validate o parâmetros grupo e informar quais são os dados que desejamos agrupar
results = cross_validate(modelo, x, y, cv=cv, groups=dados['modelo_aleatorio'] , return_train_score=False)
results

# para visualizarmos melhor os resultados podemos buscar a médias dos resultados de teste
media = results['test_score'].mean()

# ou melhor ainda, buscarmos o desvio padrao
desvio_padrao = results['test_score'].std()

# com esses dois valores podemos achar o desvio padrão
print('Accuracy [%.2f, %.2f]' % ((media - 2 * desvio_padrao) * 100, (media + 2 * desvio_padrao) * 100))

Accuracy [72.00, 79.60]