In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv(r'C:\Users\Gabriel\Desktop\Programação\Alura\Data Science\Probabilidade e amostragem\dados.csv')
dados.head(10)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631
5  11     1     34    8              12    790  1.637906
6  11     0     57    8              12   3150  1.570078
7  11     1     60    8              12   1700  1.608495
8  11     1     50    4              14   1800  1.780329
9  11     0     26    8              12   1150  1.793203

# Distribuições de probabilidade

## Distribuição binomial

É caracterizado pela possibilidade de ocorrência de apenas 2 categorias. Quando somadas temos o espaço amostral, elas são excludentes, a ocorrência de uma impede a ocorrência da outra.

In [3]:
from scipy.special import comb

Exemplo da mega sena, 60 números onde eu posso marcar apenas 6. Descobrir a probabilidade de acertar em apenas um jogo.  
Primeiro se calcula quantas combinações podem existir.

In [4]:
combinacoes = comb(60, 6)
combinacoes

50063860.0

In [8]:
probabilidade = 1 / combinacoes
print('%0.15f' % probabilidade)

0.000000019974489

### Exemplo 2

10 questões com 3 escolhas, nota de corte 5. Chutando tudo.

#### Qual o número de ensaios?

In [12]:
n = 10
n

10

#### Os ensaios são independentes?

Sim. A opção de uma questão não influencia na outra questão.

#### Somente dois resultados possíveis?

Sim, certo e errado

#### Qual a probabilidade de sucesso(p)?

In [13]:
num_alternativa_questoes = 3
p = 1 / num_alternativa_questoes
p

0.3333333333333333

#### Qual a probabilidade de fracasso(q)?

In [14]:
q = 1 - p
q

0.6666666666666667

#### Qual o total de eventos que se deseja obter sucesso(k)?

In [15]:
k = 5
k

5

#### Solução 1

In [16]:
probabilidade = (comb(n, k) * (p**k) * (q**(n-k)))
print('%0.8f' % probabilidade)

0.13656455

#### Solução 2 (Com Python)

In [20]:
from scipy.stats import binom

In [21]:
probabilidade = binom.pmf(k, n, p)
print('%0.8f' % probabilidade)

0.13656455

#### Obtendo a probabiliade do candidato passar

In [22]:
binom.pmf([5,6,7,8,9,10], n, p).sum()

0.21312808006909476

In [23]:
# faz a chance até o número indicado
binom.cdf(4, n, p)

0.7868719199309048

In [24]:
1 - binom.cdf(4, n, p)

0.21312808006909523

In [25]:
# Faz direto o que fizemos no campo de cima
binom.sf(4,n , p)

0.21312808006909525

### Exemplo 3

60% mulheres. Cada equipe tem 12 integrantes, com 30 equipes. Quantas equipes deverão ser formadas por 8 mulheres?

In [36]:
p = 0.6
n = 12
k = 8

In [43]:
# chance de uma equipe ser formada por 8 mulheres
probabilidade = binom.pmf(k, n, p)
probabilidade

0.21284093951999997

In [45]:
# quantidade de equipes que terão 8 mulheres
equipes = 30 * probabilidade
equipes

6.385228185599999